%section#index.news_section
  %h1
    News
  %table
    %tr
      %th Titolo
      %th Testo
      %th Data
      %th Azioni
    - @news.each do |news|
      %tr
        %td= news.title
        %td= raw news.body
        %td= news.created_at.to_formatted_s :short
        %td
          =link_to news do
            Visualizza
          |
          =link_to edit_news_path(news) do
            Modifica
          |
          = link_to news, :confirm => 'Sei sicuro?', :method => :delete do
            Cancella
          
/
  %h1 Listing news
  %table
    %tr
      %th Title
      %th Body
      %th User
      %th
      %th
      %th
    - @news.each do |news|
      %tr
        %td= news.title
        %td= news.body
        %td= news.user.user_name
        %td= link_to 'Show', news
        %td= link_to 'Edit', edit_news_path(news)
        %td= link_to 'Destroy', news, :confirm => 'Are you sure?', :method => :delete
  %br/
  = link_to 'New News', new_news_path
