%section.news_section#show
  %h1
    = @news.title
  %p
    %strong
      Pubblicato il:
    = @news.created_at.to_formatted_s(:short)
    %strong
      Da:
    = @news.user.user_name
    
  %div#news_body
    = @news.body.html_safe
  
  %div#links
    = link_to 'Edit', edit_news_path(@news)
    |
    =link_to 'Back', news_index_path
